@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  input[type='number'] {
    -moz-appearance: textfield; /* Menghapus spinner di Firefox */
    appearance: textfield; /* Menghapus spinner di browser modern lainnya */
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Menghapus spinner di browser berbasis WebKit */
    margin: 0; /* Menghapus margin bawaan */
  }
}
